body {
  background-color: MediumAquamarine;
  font-family: 'Bungee Shade', cursive;
}

nav {
  display: inline-block;
  font-family: 'Bungee', cursive;
}

table {
  text-align: center;
  border-style: groove;
  border-width: 10px;
}

tr {
  font-family: 'Bungee', cursive;
}

th {
  border-style: solid;
  border-bottom-width: 10px;
}

p {
  font-family: 'Bungee', cursive;
}