body {
  background-color: MediumAquamarine;
  font-family: 'Bungee Shade', cursive;
}

nav {
  font-family: 'Bungee', cursive;
  background-color: Coral;
  border-radius: 100%;
  padding-top: 200px;
  height: 333px;
}

ul {
  list-style-type: none;
  padding: 5px;
}

table {
  text-align: center;
  border-style: groove;
  border-width: 5px;
}

th {
  border-style: solid;
  border-bottom-width: 5px;
}

tr {
  font-family: 'Bungee', cursive;
  padding-top: 5px;
}

p {
  font-family: 'Bungee', cursive;
}

a {

}

#container {
  display: flex;
}

#main {
  padding-left: 3%;
}

#options {
  width: 25%;
}

#low {
  color: red;
}

#medium {
  color: orange;
}

#high {
  color: green;
}
