body {
  background-image: url("wave.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Bungee', cursive;
}

header {
  width: 100%;
  height: 15%;
  background-color: DodgerBlue;
  font-family: 'Bungee Outline';
  font-size: 30px;
  text-align: right;  
  margin-top: -10px;
  margin-bottom: 10px;
}

nav {
  font-family: 'Bungee Shade', cursive;
  background-color: Coral;
  border: solid 10px LightSeaGreen;
  border-radius: 100%;
  padding-top: 200px;
  height: 333px;
}

h1, h3 {
  font-family: 'Bungee Shade', cursive;
}

ul {
  list-style-type: none;
  padding: 5px;
}

table {
/*  border-style: solid;
  border-color: DodgerBlue;
  border-radius: 5px;
  border-width: 2px;*/
}

th {
  border-style: solid;
  border-color: DodgerBlue;
  border-bottom-width: 5px;
}

td {
  border-style: solid;
  border-color: DodgerBlue;
  border-width: 0px 0px 1px 0px;
}

tr {
  padding-top: 5px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: MediumAquamarine;
}

#jeff {
  width: 50%;
  height: 50%;
  display: block;
  text-align: center; 
  border-radius: 50%;
}

#container {
  display: flex;
}

#main {
  padding-left: 3%;
}

#key {
  background-color: LightSeaGreen;
  width: 22%;
  border: solid 2px;
  border-color: DodgerBlue;;
  margin-top: 10px;
}

#options {
  width: 25%;
}

.out_of_stock {
  color: red;
}
  
.low {
  color: orange;
}

.medium {
  color: yellow;
}

.high {
  color: green;
}
