<h1>Add new album</h1>

<form action="/albums" method="post">
  <label>Title:
    <input type="text" name="title"/>
  </label>

  <label>Artist:
    <select name="artist_id">
      <% for artist in @artists %>
      <option value="<%= artist.id %>"><%= artist.name %></option> 
      <% end %>
    </select>
  </label>

  <label>Genre:
    <input type="text" name="title"/>
  </label>

  <label>Quantity
    <input type="number" name="quantity"/>
  </label>

  <input type="submit" value="Add album">
</form>